body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo{
    background: #235E3D;
}

#menu ul li:hover{
    background: #235E3D;
}

.button-more{
    background: #235E3D;
}

.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active{
    background: #235E3D;
    border: #235E3D;
}